.cover__link {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 740px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url("../../../images/cover-trains.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover__link::before {
  content: '';
  position: absolute;
  opacity: .3;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px){
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px){
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px){
  .cover__link {
    min-height: 200px;
  }
}
