.cover {
  margin: 91px 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px){
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 87px;
  }
}

@media screen and (max-width: 767px){
  .cover {
    margin: 64px 0;
  }
}
