.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 24px 48px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 4px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 767px){
  .footer {
    flex-direction: column;
    row-gap: 48px;
    margin-left: 16px;
  }
}
