.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: .2em;
  color: #aaa;
}

@media screen and (max-width: 767px){
  .place__url-heading {
    margin: 0 16px;
  }
}
